<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623047593884-0fremd8l09v6q1e5156eqobk2acienn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623047593884-0fremd8l09v6q1e5156eqobk2acienn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623047593884-4q661igolq6rqoje34af6bntur2nhngk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMulG_Q1r6oKjwXIlwYaZG9GtqcXjzHJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>623047593884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.petwow</string>
	<key>PROJECT_ID</key>
	<string>petwow-b2474</string>
	<key>STORAGE_BUCKET</key>
	<string>petwow-b2474.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623047593884:ios:cffbe468264d575cf50259</string>
</dict>
</plist>